.index, .in {
  display: block;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-image: url("img/profile.jpg");
  font-family: 'Neue Helvetica® Georgian', sans-serif;
}

.pr {
  display: block;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-image: url("img/profile.jpg");
  font-family: 'Neue Helvetica® Georgian', sans-serif;
}


.ex {
  display: block;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: black;
  font-family: 'Neue Helvetica® Georgian', sans-serif;
}


.nav{
  display: flex;
  background-color: #333;
  height: 500%;
}

.nav a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}


.nav a:hover {
  background-color: #ddd;
  color: black;
}

a:first-child .home, .about, .projects {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
a:last-child .home, .about, .projects {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.wrapper {
  background-color: lightblue;
  
  max-width: 100%;
  display: flex;
  flex-direction: row;
  height: 100%;

}

.left, .right {
  background-color: lightblue;
  margin: 0px;
  max-width: 200%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left {
  align-items: center;
  justify-content: center;
  width: 40%;
  left: 50px;
}

.right {
  align-items: center;
  justify-content: center;
  width: 60%;
  right: 50px;
}

.name{
	font-family: 'Neue Helvetica® Georgian', sans-serif;
	margin-bottom: 2px;
  font-size: 300%;
  font-weight: 500;
}

.subtitle{
	font-family: 'Neue Helvetica® Georgian', sans-serif;
	text-align: center;
  font-size: 200%;
  font-weight: 100;
}

.bio{
	font-size: 150%;
	position:relative;
  padding: 80px;
}


.profile-picture {
	border-radius: 50%;
}


.social-links {
  list-style: none;
  padding-left: 0px;
  font-size: 23px;
  position:relative;
  color: white;
	bottom: 75px;

}

.social-links li {
  display: inline-block;
  margin-right: 8px;
  text-decoration: underline;
}

.social-links a {
  text-decoration: none;
  padding: 0px;
  text-decoration: underline;
}

.social-links a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.body {
  background: linear-gradient(to bottom, rgba(231, 240, 245, 1) 0%, rgba(170, 221, 235, 1) 100%);
}



.experiencePage{
  display: block;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Neue Helvetica® Georgian', sans-serif;
  background-color: white;
}

.intro{
  font-family: 'Neue Helvetica® Georgian', sans-serif;
  margin-bottom: 2px;
  padding: 10px;
  font-size: 200%;
  font-weight: 500;
  color: white;
  text-align: center;
}

.description1-ex, .description2-ex, .description3-ex, .description4-ex{
  font-family: 'Playfair Display', sans-serif;
  padding-left: 20px;
  padding-bottom: 20px;
  color: black;
}

.title1-ex, .title2-ex, .title3-ex, .title4-ex{
  font-family: 'Neue Helvetica® Georgian', sans-serif;
  padding-left: 20px;
  padding-top: 20px;
  color: black;
  font-weight: 120;
}


.pro1{
  font-family: 'Playfair Display', sans-serif;
  padding: 20px;
  color: white;
}

.pro2{
  font-family: 'Playfair Display', sans-serif;
  padding: 20px;
  color: white;
}

.pro3{
  font-family: 'Playfair Display', sans-serif;
  padding: 20px;
  color: white;
}

.pro4{
  font-family: 'Playfair Display', sans-serif;
  padding: 20px;
  color: white;
}

.ex{
  background-color: white;

}

.experiences-title{
  color: black;
  font-weight: 150;
}
